<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>{{title}}</h1>

        <!--数据双向绑定-->  <!--回车按键事件-->
				<input class="new-todo" placeholder="What needs to be done?" autofocus
          v-model="newToDo"
          @keyup.enter="addToDo">
			</header>
			<section class="main">
        <!--全选，双向数据绑定-->
				<input class="toggle-all" type="checkbox" id="toggle-all" v-model="isAll">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
          <!--v-for循环遍历数组-->
          <!--样式绑定-->
					<li v-for="(todo,index) in todos" :class="{completed : todo.completed }">
						<div class="view">
              <!--选择框选择表示完成,添加一个样式  这里不是特别明白 ?????-->
							<input class="toggle" type="checkbox" v-model="todo.completed" >
							<label>{{ todo.content }}</label>
              <!--删除按钮-->
							<button class="destroy" @click="removeToDo(index)"></button>
						</div>
						<input class="edit" value="Rule the web">
					</li>
				</ul>
			</section>

      <!--v-show绝对dom元素的显示或隐藏-->
			<footer class="footer" v-show = "todos.length">
				<span class="todo-count"><strong>{{ remain }}</strong> item left</span>
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<button class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<p>Created by <a href="http://todomvc.com">Janita</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
	</body>
</html>
